{% extends 'blog/base.html' %}
{% load i18n %}
{% block content %}
    <div class="create-comment">
        <form method="post" action="">
            {% csrf_token %}
            {% for foo in form %}
                <div>
                    {{ foo.label }}
                </div>
                <div>
                    {{ foo }}
                </div>
            {% endfor %}
            <input type="submit" class="btn-success" value="{% trans 'Send' %}">
        </form>
    </div>
{% endblock %}