.container {
    margin-top: 60px;
}

.article-date-pub {
    float: right;
}

.create-article textarea {
    resize: none;
}

.article-footer {
    margin-top: 10px;
}

.comment-list {
    margin-bottom: 20px;
    background-color: #149c82;
}

.comment-author {
    margin-left: 10px;
    float: left;
    color: white;
    margin-right: 20px;
}

.comment-date-pub {
    margin-right: 10px;
    float: right;
    color: white;
}
.comment-control-panel{
    color: black;
}
.comment-control-panel a{
    color: white;
}
.comment-control-panel a:hover{
    color: crimson;
}

.comment-text {
    clear: both;

}
.comment-text pre{
    border-radius: 0;
}

.create-comment textarea {
    resize: none;
}
.confirm-delete{
    margin: 200px 300px;
}