{% load i18n %}
{% for post in posts %}
    <div class="post-block">
        <div class="post-title">
            <a href="{% url 'post-detail' post.id %}"> {{ post.title }}</a>
        </div>
        <div>
            {% blocktrans %} Date of publication: {% endblocktrans %}
            {{ post.date_pub }}
        </div>
        <div>
            {% trans 'Like:' %}
            {{ post.likeit }}
        </div>
        <div>
            {% trans 'Status:' %}
            {{ post.status }}
        </div>
        <div class="post-option">
            <div>{% trans 'Options:' %}
                [<a href="{% url 'update-post' post.id %}">{% trans 'Edit' %}</a>]
                [<a href="{% url 'delete-post' post.id %}"> {% trans 'Delete' %}</a>]
            </div>
        </div>
    </div>
{% endfor %}

<div class="my-pagination">
    <span class="step-links">
        {% if posts.has_previous %}
            <a href="?page={{ posts.previous_page_number }}">{% trans 'Previous' %}</a>
        {% endif %}

        <span class="current">
            {% trans 'Page' %} {{ posts.number }} {% trans 'of' %} {{ posts.paginator.num_pages }}.
        </span>

        {% if posts.has_next %}
            <a href="?page={{ posts.next_page_number }}">{% trans 'Next' %}</a>
        {% endif %}
    </span>
</div>